<div class="row">
	<div class="col-md-6" >
		<h1>Weather in {{vm.currentWeather.name}}  &nbsp;&nbsp;<img ng-src="{{vm.currentWeather.flagIcon}}"  /></h1>
		
	</div>
	<div class="col-md-6" >
		<form class="form-inline" >
			<p class="text-right">
				<input type="text" class="form-control" id="inputLocation" placeholder="Other Location" ng-model="vm.newLocationName">
				<button type="submit" class="btn btn-default" ng-click="vm.LoadLocationDataWithLocationName(vm.newLocationName)">Search</button>
			</p>
		</form>
	</div>
</div>

<br/>

	     
<div class="row">
	<div class="col-md-3" >
		<div class="row">
			<div class="col-md-8">Location:</div>
			<div class="col-md-4">{{vm.currentWeather.name}}</div>
		</div>
		<div class="row">
			<div class="col-md-8">Temperature:</div>
			<div class="col-md-4">{{vm.currentWeather.weather.temp.toFixed(2)}} °C</div>
		</div>
		<div class="row">
			<div class="col-md-8">Humidity:</div>
			<div class="col-md-4">{{vm.currentWeather.weather.humidity.toFixed(2)}} %</div>
		</div>
		<div class="row">
			<div class="col-md-8">Pressure:</div>
			<div class="col-md-4">{{vm.currentWeather.weather.pressure.toFixed(0)}} hPa</div>
		</div>
		<div class="row">
			<div class="col-md-8">Min Temperature:</div>
			<div class="col-md-4">{{vm.currentWeather.weather.temp_min.toFixed(2)}} °C</div>
		</div>			
		<div class="row">
			<div class="col-md-8">Max Temperature:</div>
			<div class="col-md-4">{{vm.currentWeather.weather.temp_max.toFixed(2)}} °C</div>
		</div>					
	</div>
	<div class="col-md-3" >
			<div class="col-md-3"><img ng-src="{{vm.currentWeather.weather.weatherIcon}}" alt="Description" /></div>
	</div>
	<div class="col-md-3" >
		<collapsible title="Weather in nearby Cities">
			<ul>
				<li ng-repeat="weather in vm.currentWeather.nearbyWeather"><a ng-click="vm.LoadLocationDataWithId(weather.id)">{{weather.name}}</a></li>	
			</ul>
		</collapsible>
	</div>
	<div class="col-md-3" >
		<p>Last lookups</p>
		<ul>
			<li ng-repeat="searchname in vm.LastSearchNames() | reverse"><a ng-click="vm.LoadLocationDataWithLocationName(searchname)">{{searchname}}</a>
				<button type="button" class="btn btn-default btn-xs" ng-click="vm.DeleteFromHistory(searchname)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			</li>	
		</ul>
	</div>	
</div>
<div class="row">
	&nbsp;
 	<div class="col-md-12" >
		 <map height="300" />
	</div>
</div>



